
#main-container{
    width :1364px;
    height:2150px;
}

.gallery09 img {
    padding-top: 300px;
    width: 729px;
height: 487px;
}

.gallery04 img {
    
    width:362px;
    height:241px;
    
}

.gallery05 img {
    width:362px;
    height:241px;
    
}

.gallery08 img {
    width:445px;
    height:297px;
    
}

.gallery07 img {
    width:445px;
    height: 297px;
}

.gallery06 img {
width:198px;
height:297px;    
}

.gallery03 img {
    width:320px;
    height:213px;
}

.gallery01 img {
    width:320px;
    height:213px;
    
}

.gallery02 img {
    width:142px;
    height:213px;
    
}
.gallery10 img {
    width:303px;
    height:213px;
    
}